/**** LAYOUT ****/
.container {
  display: flex;
  gap: 60px;
  max-width: 1280px;
  justify-content: center;
  margin: 0 auto;
}
.light-col,
.pink-col {
  height: 100%;
  position: fixed;
  top: 0;
}
.light-col {
  left: 0;
  background-color: var(--bg-color);
  z-index: -1;
}
.pink-col {
  right: 0;
  background-color: #ffedf3;
  z-index: -1;
}
.light-col,
.main-col {
  width: 50%;
}
.pink-col,
.side-col {
  width: calc(50% - 60px);
}
.side-col {
  padding-left: 80px;
  position: relative;
  top: -125px;
  z-index: 2;
}

/**** RESERVATION ****/
.reservation {
  margin-top: 40px;
}
.reservation-list {
  padding: 20px;
  border: 3px solid var(--accent-color);
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Oswald", sans-serif;
}
.reservation-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px dashed var(--accent-color);
  border-radius: 7px;
}
.reservation-list__day {
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  padding: 5px 30px;
  border-radius: 15px;
}
.reservation-list__address {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  color: #53001e;
}
.reservation-list__address-icon {
  width: 22px;
}
.reservation-list__button {
  border: none;
  background: none;
  color: var(--accent-color);
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}

/**** GIRL PHOTOGALLERY ****/
.girl-gallery {
  margin-top: 40px;
}
.girl-gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 450px;
  gap: 20px;
  margin-top: 25px;
}
.girl-gallery__card,
.girl-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

/**** ABOUT A GIRL ****/
.about {
  margin-top: 40px;
}

/**** SERVICES ****/
.services {
  margin-top: 20px;
}
.services-list {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
  list-style-type: none;
}
.services-list__item {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  padding: 4px;
  background-color: var(--accent-color);
  border-radius: 10px;
  text-align: center;
}

/**** FEEDBACKS ****/
.feedbacks-form-wrapper {
  margin-top: 25px;
  border: 3px solid var(--accent-color);
  padding: 20px;
  border-radius: 10px;
}
.feedbacks-form__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}
.feedbacks-form__rating {
  display: flex;
  gap: 5px;
}
.feedbacks-form__star {
  width: 40px;
}
.feedbacks-form__rating-input {
  display: none;
}
.feedbacks-form__input {
  width: 100%;
  border: 1px dashed var(--accent-color);
  border-radius: 7px;
  padding: 10px 16px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #53001e;
  outline: none;
  background-color: #9393930d;
}
.feedbacks-form__input::placeholder,
.feedbacks-form__textarea::placeholder {
  color: rgba(83, 0, 30, 0.95);
}
.feedbacks-form__textarea-wrapper {
  height: 220px;
  position: relative;
  border: 1px dashed var(--accent-color);
  border-radius: 7px;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #9393930d;
}
.feedbacks-form__textarea {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  min-width: 100%;
  max-width: 100%;
  min-height: calc(100% - 60px);
  max-height: calc(100% - 60px);
  height: calc(100% - 60px);
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #53001e;
}
.feedbacks-form__footer {
  display: flex;
  justify-content: flex-end;
}
.feedbacks-form__button {
  background-color: var(--accent-color);
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 5px 30px;
  margin-left: auto;
  cursor: pointer;
}

.feedbacks-list {
  margin-top: 25px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.feedbacks-list__row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}
.feedbacks-list__name {
  font-size: 32px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: #53001e;
}
.feedbacks-list__stars-wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}
.feedbacks-list__star {
  width: 22px;
}
.feedbacks-list__text {
  font-size: 20px;
  font-family: "Istok Web", sans-serif;
  color: #000000d9;
}

/****  GIRL CHARACTERISTICS ****/
.girl {
  font-family: "Oswald", sans-serif;
}
.girl__image {
  width: 100%;
  aspect-ratio: 5/7;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.girl-content {
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.girl__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 1px;
}
.girl__characteristic {
  font-weight: 300;
  font-size: 24px;
}
.girl__characteristic .text-bold {
  color: #53001e;
}
.girl__info-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.girl__whatsapp-icon-wrapper {
  height: 72px;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.girl__whatsapp-icon {
  width: 50px;
}
.girl__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.girl__address {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  color: #53001e;
  font-weight: 500;
  font-size: 22px;
}
.girl__address-icon {
  width: 24px;
}
.girl__hours {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 300;
}
.girl__hours-icon-wrapper {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.girl__hours-icon {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #2cb742;
}
.girl__phone {
  background: linear-gradient(90deg, #000000 0%, #3b3b3b 100%);
  height: 130px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
}
.girl__phone-icon {
  height: 50px;
}

/**** OTHER GIRLS ****/
.other-girls {
  margin-top: 40px;
}

/***  HOW TO FIND ***/
.how-to-find {
  margin-top: 60px;
}
.how-to-find-title {
  font-size: 44px;
  color: #53001e;
  font-family: "Oswald", sans-serif;
  width: 100%;
  border-bottom: 3px solid #b12054cc;
}
.how-to-find__map-image {
  width: 100%;
  border-radius: 10px;
  border: 5px solid var(--accent-color);
  margin-top: 40px;
}
