.card-grid {
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 660px;
}
.card-grid__item {
  border-radius: 7px;
  padding: 16px;
}
.card-grid__item:nth-child(4n + 1),
.card-grid__item:nth-child(4n + 4) {
  background-color: #b1205440;
}
.card-grid__item:nth-child(4n + 2),
.card-grid__item:nth-child(4n + 3) {
  background-color: #b12054d9;
}
.card-grid__image-wrapper {
  position: relative;
}
.card-grid__label {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  color: #fff;
  background-color: var(--accent-color);
  padding: 4px 15px;
  border-radius: 7px;
}
.card-grid__image {
  width: 100%;
  height: 440px;
  object-fit: cover;
  border-radius: 7px;
}
.card-grid__item-content {
  margin-top: 10px;
}
.card-grid__item-title {
  font-size: 34px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  color: #040404;
}
.card-grid__item:nth-child(4n + 2) .card-grid__item-title,
.card-grid__item:nth-child(4n + 3) .card-grid__item-title {
  color: #fff;
}

.card-grid__item-text {
  color: #000000bf;
  font-size: 20px;
  font-family: "Istok Web", sans-serif;
  margin-top: 10px;
}
.card-grid__item:nth-child(4n + 2) .card-grid__item-text,
.card-grid__item:nth-child(4n + 3) .card-grid__item-text {
  color: #ffffffbf;
}

@media (max-width: 1200px) {
  .card-grid {
    gap: 14px;
    grid-template-rows: 620px;
  }

  .card-grid__image {
    height: 410px;
  }

  .card-grid__item-title {
    font-size: 32px;
  }

  .card-grid__item-text {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .card-grid {
    grid-template-rows: auto;
    grid-auto-rows: auto;
  }

  .card-grid__image {
    height: 380px;
  }
}

@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .card-grid__image {
    height: 360px;
  }

  .card-grid__label {
    font-size: 18px;
    padding: 4px 12px;
  }
}

@media (max-width: 768px) {
  .card-grid__image {
    height: 320px;
  }

  .card-grid__item-title {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .card-grid__item {
    padding: 14px;
  }

  .card-grid__image {
    height: 280px;
  }

  .card-grid__item-title {
    font-size: 28px;
  }

  .card-grid__item-text {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .card-grid__image {
    height: 260px;
  }

  .card-grid__item-title {
    font-size: 26px;
  }
}
