.girls-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  font-family: "Oswald";
}
.girls-grid__image {
  width: 100%;
  height: 440px;
  object-fit: cover;
  border-radius: 10px;
}
.girls-grid__card-content {
  padding: 0 5px;
}
.girls-grid__name {
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
}
.girls-grid__card-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 1px;
}
.girls-grid__characteristic {
  font-weight: 300;
}
.girls-grid__characteristic .text-bold {
  color: #53001e;
}
.girls-grid__address {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  color: #53001e;
  font-weight: 500;
  font-size: 17px;
}
.girls-grid__address-icon {
  width: 17px;
}
.girls-grid__hours {
  margin-top: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  font-weight: 300;
}
.girls-grid__hours-icon-wrapper {
  width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.girls-grid__hours-icon {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #2cb742;
}

@media (max-width: 1200px) {
  .girls-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media (max-width: 900px) {
  .girls-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
  }

  .girls-grid__image {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .girls-grid__name {
    font-size: 34px;
  }

  .girls-grid__image {
    height: 360px;
  }
}

@media (max-width: 425px) {
  .girls-grid {
    grid-template-columns: 1fr;
  }

  .girls-grid__image {
    height: 340px;
  }

  .girls-grid__card-row {
    flex-wrap: wrap;
    gap: 6px 12px;
    padding-bottom: 6px;
  }
}

@media (max-width: 375px) {
  .girls-grid__image {
    height: 320px;
  }
}
