.grid-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-gallery__image {
  width: 100%;
  aspect-ratio: 3 / 2;
  border-radius: 7px;
  object-fit: cover;
  min-height: 0;
  display: block;
}
.grid-gallery__image--large {
  grid-row: span 2;
  aspect-ratio: unset;
  height: 0;
  min-height: 100%;
}
