/**** HEADER ***/

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px 0;
  padding-top: 14px;
}
.header__nav-list {
  display: flex;
  gap: 28px;
  list-style-type: none;
}
.header__nav-link {
  font-family: "Jomhuria";
  font-size: 40px;
  text-decoration: none;
  color: #fff;
}

.header__lang-wrapper {
  display: flex;
  gap: 24px;
}
.header__lang-button {
  border: none;
  background: none;
  cursor: pointer;
  width: 38px;
  aspect-ratio: 41/27;
}
.header__lang-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/**** FOOTER ***/

.footer {
  display: flex;
  align-items: center;
  height: 420px;
  max-height: auto;
  margin-top: 40px;
}
.footer-image {
  height: 100%;
  position: relative;
  right: 60px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  height: 100%;
  max-width: 1180px;
  width: 100%;
}
.footer-logo-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.footer-logo {
  width: 330px;
}
.footer__col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 300px;
}
.footer-title {
  color: #fff;
  font-size: 26px;
  font-family: "Istok Web";
  font-weight: 700;
  width: fit-content;
}
.footer-lists-wrapper {
  display: flex;
  gap: 80px;
}
.footer__list {
  list-style-type: none;
}
.footer__list-item {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-family: "Istok Web";
  margin-top: 3px;
}
.footer__list-link {
  text-decoration: underline;
  color: #fff;
}

/**** SUBHEADER ****/
.subheader {
  background: linear-gradient(270deg, #484848 0%, #000000 100%);
  padding: 20px 0;
  height: 200px;
}
.subheader-content {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 70px;
}
.subheader-logo {
  width: 280px;
}
.subheader-line {
  width: 4px;
  height: 75%;
  background-color: #d9d9d9;
}
.subheader-title {
  font-family: "Oswald";
  font-size: 80px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
