:root {
  --accent-color: #b12054;
  --heading-color: #53001e;
  --bg-color: #fff4f8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-black {
  background-color: #000000;
}

.bg-gray {
  background-color: #939393;
}

.text-semibold {
  font-weight: 600;
}
.text-bold {
  font-weight: 700;
}
.text-accent {
  color: var(--accent-color);
}

.title-underline {
  border-bottom: 3.5px solid var(--accent-color);
}

.section-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-title {
  font-size: 64px;
  font-weight: 700;
  font-family: "Oswald";
  max-width: 800px;
}
.section-cursive {
  font-size: 70px;
  font-family: "Passions Conflict";
}

.paragraph {
  font-size: 22px;
  font-family: "Istok Web";
  margin: 25px 0;
  color: #000000d9;
}

.side-col-title {
  font-size: 44px;
  color: #53001e;
  font-family: "Oswald", sans-serif;
  width: 100%;
  border-bottom: 3px solid #b12054cc;
}
