.other-girls-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.other-girls__figure {
  width: 180px;
}
.other-girls-grid {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px 30px;
}
.other-girls-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
  list-style-type: none;
}
.other-girls-list__item {
  font-weight: 700;
  color: var(--accent-color);
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 15px;
  text-transform: uppercase;
}
.other-girls__image {
  width: 110px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .other-girls-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px 24px;
  }
}

@media (max-width: 1024px) {
  .other-girls-content {
    margin-top: 26px;
  }
}

@media (max-width: 900px) {
  .other-girls-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 20px;
  }
}

@media (max-width: 768px) {
  .other-girls-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .other-girls__figure {
    display: none;
  }

  .other-girls-list {
    align-items: flex-start;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .other-girls-grid {
    grid-template-columns: 1fr;
    gap: 12px 0;
  }
  .other-girls-list__item {
    justify-content: space-between;
  }
}

@media (max-width: 425px) {
  .other-girls__figure {
    width: 140px;
  }

  .other-girls-list__item {
    font-size: 34px;
  }

  .other-girls__image {
    width: 90px;
  }
}

@media (max-width: 375px) {
  .other-girls-list__item {
    font-size: 32px;
  }
}
